data/movie_pack/web_fetcher/posters
data/movie_pack/web_fetcher/tmp
spec/movie_pack/web_fetcher/vcr_cassettes
config/web_fetcher/tmdb.yml
vcr_cassettes/
spec/movie_pack/web_fetcher/vcr_cassettes
.yardoc/
movie_pack/data/movie_pack/web_fetcher/*.yml
movie_pack/data/movie_pack/web_fetcher/*.html
doc/*
