%html
  %head
    %title Films Data
  %body
    %table{ :border => '1' }
      %tr
        %th Poster
        %th Title
        %th Budget
        %th Alternative titles
      %tr
        %td
          %img{ :src => 'C:\RubyProjects\movie_pack\data\movie_pack\web_fetcher\posters\1.jpg' }
        %td Vyzhivshiy
        %td $25,000,000
        %td
          %p title 1
          %p title 2
          %p title 3